// Keyframes
@keyframes deslizarAbajo {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecerSuave {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.animacion-bajada {
    animation: deslizarAbajo 0.8s ease-out forwards;
}